@use './typography';
@use './colors';

/** Montserrat font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: typography.$font-stack;
  background-color: colors.$light;
}

a {
  text-decoration: none;
}
